#cloud-platform {
    background-color: #f2f6fa;
}

#top-container {
    height: 400px;
}

.background_white {
    background-color: white;
}

.row2_border {
    border: 5px solid #0d64e8;
    width: 15%;
}
#row3_subtitle1{
    color: #0d64e8;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 50px;
}
